**/__pycache__/**
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/log*/**
**/dump*/**
**/build/**
*.o
*.so
*.egg
**/*.egg-info/**
dataset/tolerance
.env
data
graspAPI
logs/dump_*
logs/log_*/train
logs/log_*/test
logs/log_*/*.txt

*.ply
uois/
*.exr
*.xml
